$global-width: 1200px;
$grid-row-width: $global-width;

/*

$grid-column-gutter: (
  small: 30px,
  medium: 70px,
);

$grid-margin-gutters: (
  small: 30px,
  medium: 70px
);

$grid-padding-gutters: $grid-margin-gutters;
$grid-container-padding: $grid-padding-gutters;

*/